$optionDefaultColours: #ED5565, #FC6E51, #FFCE54, #2ECC71, #5D9CEC, #AC92EC;
@import "./src/components/topbar/topbar";

@media all and (max-width: 500px) {
  .aboutmePage {

    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .aboutmeContainer {
      display: flex;
      flex-direction: column;

    }

    .left-section {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 2vh;
    }

    h1 {
      font-size: 7vw;
      margin: 5vh 0 2vh 0;
    }

    .description {
      font-size: 3.3vw;
      max-width: 90%;
      font-weight: 400;
      line-height: 2rem;
      text-align: justify;
    }
  }
  //...................right section

  .right-section {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

    //...........name......................................................

    .right-section-name {
      display: flex;
      width: 100%;
      overflow: hidden;

      svg {
        width: 100%;
        margin: 0 auto;
        max-width: 95%;
      }

      text {
        font-size: 15vw;

      }

      .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0;
        animation: stroke-offset 7s infinite linear;
      }


      .text-copy:nth-child(1) {
        stroke: #4D163D;
        animation-delay: -1;
      }

      .text-copy:nth-child(2) {
        stroke: #840037;
        animation-delay: -2s;
      }

      .text-copy:nth-child(3) {
        stroke: #BD0034;
        animation-delay: -3s;
      }

      .text-copy:nth-child(4) {
        stroke: #BD0034;
        animation-delay: -4s;
      }

      .text-copy:nth-child(5) {
        stroke: #FDB731;
        animation-delay: -5s;
      }

      @keyframes stroke-offset {
        100% {
          stroke-dashoffset: -35%;
        }
      }
    }
  }


  //...........hobies......................................................
  .right-section-hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;


    .cards {
      display: flex;
      flex-direction: column;
      width: 95%;
    }

    .card {
      display: flex;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      height: 25vh;
      margin-bottom: 1vw;
    }

    .card-details {

      position: absolute;
      bottom: 1vw;
      left: 1.7vw;
      display: flex;
      align-items: center;

      font-size: 3vw;
      color: white;
    }

    h2 {
      margin-left: .5vw;
    }

    .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      min-width: 6vw;
      max-width: 6vw;
      height: 6vw;
      border-radius: 100%;

      background-color: white;

      .logo {
        color: pink;
      }
    }


  }


  //.................................................................
  .toHomePage {
    display: flex;
    justify-content: center;
    margin: 3vh auto;

    button {
      font-size: 1.5rem;
      padding: .7rem;
      border-radius: 12%;
      cursor: pointer;

    }
  }
}


//........................Media Screen (min-width:501px) ..........................


@media all and (min-width: 501px) {
  .aboutmePage {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;



    .aboutmeContainer {
      height: 90%;
      display: flex;
      flex-direction: row;
    }

    .left-section {
      flex: .4;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 2vh;
    }

    h1 {
      font-size: 3vw;
      margin-bottom: 1.5rem;
    }

    .description {
      font-size: 1vw;
      max-width: 90%;
      font-weight: 400;
      line-height: 2rem;
      text-align: justify;
    }
  }
  //...................right section

  .right-section {
    flex: .6;
  }
  .right-section-name {
    display: flex;
    width: 100%;
    margin-top: 3vw;

    svg {
      width: 100%;
      margin: 3vw auto 0;
      max-width: 95%;
    }

    text {
      font-size: 6vw;
    }

    .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 3px;
      stroke-dashoffset: 0;
      animation: stroke-offset 7s infinite linear;
    }


    .text-copy:nth-child(1) {
      stroke: #9d1575;
      animation-delay: -1;
    }

    .text-copy:nth-child(2) {
      stroke: #840037;
      animation-delay: -2s;
    }

    .text-copy:nth-child(3) {
      stroke: #BD0034;
      animation-delay: -3s;
    }

    .text-copy:nth-child(4) {
      stroke: #BD0034;
      animation-delay: -4s;
    }

    .text-copy:nth-child(5) {
      stroke: #FDB731;
      animation-delay: -5s;
    }

    @keyframes stroke-offset {
      100% {
        stroke-dashoffset: -35%;
      }
    }
  }

  .right-section-hobbies {

    height: 60%;
    width: 60vw;

  }
  .cards {
    display: flex;
    width: 95%;


  }
  .card {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    flex: 0.5;
    border-radius: 5rem;
    position: relative;
    margin: .5rem;
    cursor: pointer;
    transition: flex .3s;

    .card-details {
      position: absolute;
      bottom: 1vw;
      left: 1.7vw;

      display: flex;
      align-items: center;

      font-size: .8vw;

    }

    h2 {
      opacity: 0;
      margin-left: .5vw;
    }

    .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      min-width: 2vw;
      max-width: 2vw;
      height: 2vw;
      border-radius: 100%;

      background-color: white;

      .logo {
        color: pink;
        opacity: 1;

      }
    }

    &.active {
      color: white;
      flex: 3;

      .card-details {
        h2 {
          opacity: 1;
        }
      }


    }
  }

  .toHomePage {
    display: flex;
    justify-content: center;
    margin: 1vw auto;

    button {
      font-size: 1.5rem;
      padding: .7rem;
      border-radius: 12%;
      cursor: pointer;

    }
  }
}