
.app {
  height: 100vh;
  font-size: 10px;
  overflow: hidden;
  position: absolute;

  .sections {
    width: 100vw;
    height: calc(100vh - 5rem);
    position: relative;
    top: 4.8rem;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }



  }

}