// Colors
$mainColor: #c1b8de;
$secondColor: #3d05a2;
$textColor: #090909;
$darkmode: darkblue;


html{
  font-size: 10px;
  color: $textColor;
  //background-color: $mainColor;
}


/*
ViewPorts:

iPhone 12 Pro Max	428 x 926
iPhone 12 Pro    	390 x 844

S20 Ultra           412 x 915
S20                 360 x 800
oneplus: 412 x 892

 */

